<!DOCTYPE html>
<html lang="en">
<body>
    <h1></h1>
    <dl>
    {% for human in humans %}
        <dt>{{ human|e }}{{ human.learning_languages|e }}{{ human.teaching_languages|e }}</dt>
    {% endfor %}
    </dl>
    <form action="." method="POST">
      <dl>
        <dt>Enter name:
        <dd><input type=text size=30 name=name>
        <dt>Enter learning languages, level:
        <dd><input type=text size=30 name=learning>
        <dt>Enter teaching languages:
        <dd><input type=text size=30 name=teaching>
        <dd><input type=submit name='btn' value=Submit>
      </dl>
      <dd><input type=submit name='btn' value=Calculate>
        <dd><input type=submit name='btn' value=DeleteAll>
    </form>
</body>
</html>