<!DOCTYPE html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>Humans</title>
<body>
    <h1>People</h1>
        <div>{% for human in humans %}
        <p><b>{{ human|e }}</b></p>
        <p>learning: {% for llanguage in human.learning_languages %}{{ llanguage|e }} {% endfor %} teaching: {% for tlanguage in human.teaching_languages %}{{ tlanguage|e }} {% endfor %}</p>
        {% endfor %}
        </div>


    <h1>New</h1>
    <dl>
        <dt>Enter name:
          <form action="." method="POST">
        <dd><input type=text size=30 name=name>
        <dt>Enter learning languages, level:
        <dd><input type=text size=30 name=learning>
        <dt>Enter teaching languages:
        <dd><input type=text size=30 name=teaching>
        <dd><input type=submit name='btn' value=Submit>
      </dl>
      <input type=submit name='btn' value=Calculate><input type=submit name='btn' value=DeleteAll>

    </form>
</body>
</html>