<!DOCTYPE html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="content container">
	<div class="row">
	    <div class="col-md-8">

<title>Humans</title>
<body>
    <h1>People</h1>
    <form action="." method="POST">
        <div>
            {% for human in humans %}
        <p><b>{{ human|e }}</b>
        <button type="submit" class="btn btn-xs" name="remove" value="{{ human|e }}">
                <span class="glyphicon glyphicon-remove"></span>
        </button>
        <p>learning: {% for llanguage in human.learning_languages %}{{ llanguage|e }} {% endfor %} teaching: {% for tlanguage in human.teaching_languages %}{{ tlanguage|e }} {% endfor %}</p>
            {% endfor %}
        </div>

    <h1>New</h1>

        <p>Enter name:</p>
        <p><input type=text size=30 name=name></p>
        <p>Enter learning languages, level:</p>
        <p><input type=text size=30 name=learning></p>
        <p>Enter teaching languages:</p>
        <p><input type=text size=30 name=teaching></p>
        <p><input type=submit name='btn' value=Submit><input type=submit name='btn' value=DeleteAll></p>
    </form>
    <form action="/results" method="GET">
        <p><input type=submit name='btn' value=Calculate></p>
    </form>

        </div>
    </div>
</div>
</body>
</html>
